Repository tangxiangong/release-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-sort

.pre-commit-config.yaml:

fail_fast: false
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --all
        description: Format files with rustfmt.
        entry: bash -c 'cargo fmt -- --check'
        language: rust
        files: \.rs$
        args: []
      - id: cargo-clippy
        name: cargo clippy
        description: Lint rust sources
        entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
        language: rust
        files: \.rs$
        pass_filenames: false
      - id: cargo-sort
        name: cargo sort
        description: Sort dependencies in Cargo.toml
        entry: bash -c 'cargo sort -w -o workspace,package'
        language: rust
        files: Cargo.toml
        args: []

chore: add CHANGELOG.md with initial project setup entry
  CHANGELOG.md
Due: none

docs: enhance README with centered header and showcase section
  README.md
Due: none

chore: remove docs.rs metadata configuration from Cargo.toml
  Cargo.toml
Due: cargo-sort

refactor: remove docsrs feature gate from lib.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to 0.1.1
  Cargo.toml
Due: cargo-sort

chore: prepare v0.1.1 release
  CHANGELOG.md
Due: none

refactor: defer version parsing to build step
  src/builder.rs
Due: cargo-fmt, cargo-clippy

docs: simplify README examples and project links
  README.md
Due: none

chore: bump version to 0.2.0
  Cargo.toml
Due: cargo-sort

refactor: replace std::fs with fs-err for better error messages
  Cargo.toml
  src/lib.rs
  src/macos.rs
  src/windows.rs
Due: cargo-fmt, cargo-clippy, cargo-sort

chore: migrate from windows-sys to windows crate
  Cargo.toml
  src/windows.rs
Due: cargo-fmt, cargo-clippy, cargo-sort

chore: Update `fs-err` to v3.2
  Cargo.toml
Due: cargo-sort

docs: add updater migration design spec
  docs/superpowers/specs/2026-04-21-updater-migration-design.md
Due: none

refactor: add neutral updater config and release models
  Cargo.toml
  src/config.rs
  src/error.rs
  src/lib.rs
  src/release.rs
  tests/manifest_models.rs
Due: cargo-fmt, cargo-clippy, cargo-sort

fix: keep config validation and legacy modules compiled
  src/config.rs
  src/error.rs
  src/lib.rs
  tests/manifest_models.rs
Due: cargo-fmt, cargo-clippy

fix: trim unused error variants and add release tests
  src/error.rs
  tests/manifest_models.rs
Due: cargo-fmt, cargo-clippy

fix: restore missing signature asset error
  src/error.rs
Due: cargo-fmt, cargo-clippy

refactor: add neutral target and installer resolution
  src/lib.rs
  src/target.rs
  tests/target_resolution.rs
Due: cargo-fmt, cargo-clippy

fix: restore utils re-export
  src/lib.rs
  src/target.rs
  src/utils.rs
Due: cargo-fmt, cargo-clippy

fix: restore neutral target model ownership
  src/lib.rs
  src/target.rs
  src/utils.rs
Due: cargo-fmt, cargo-clippy

fix: hide legacy utils module
  src/lib.rs
Due: cargo-fmt, cargo-clippy

feat: add endpoint source and minisign verification
  Cargo.toml
  src/error.rs
  src/lib.rs
  src/source/endpoint.rs
  src/source/mod.rs
  src/verify.rs
  tests/endpoint_source.rs
  tests/fixtures/minisign/test.pub
  tests/fixtures/minisign/test.sig
Due: cargo-fmt, cargo-clippy, cargo-sort

fix: tighten endpoint status handling
  src/source/endpoint.rs
  tests/endpoint_source.rs
Due: cargo-fmt, cargo-clippy

refactor: rebuild updater around neutral source model
  src/builder.rs
  src/lib.rs
  src/release.rs
  tests/update_flow.rs
Due: cargo-fmt, cargo-clippy

test: route update flow through endpoint source
  tests/update_flow.rs
Due: cargo-fmt, cargo-clippy

fix: tighten task 4 updater builder flow
  src/builder.rs
  src/lib.rs
  tests/update_flow.rs
Due: cargo-fmt, cargo-clippy

refactor: remove legacy platform model from utils
  src/utils.rs
Due: cargo-fmt, cargo-clippy

feat: add github release source adapter
  src/github.rs
  src/lib.rs
  src/source/github.rs
  src/source/mod.rs
  tests/github_source.rs
Due: cargo-fmt, cargo-clippy

test: cover github source module path
  src/source/github.rs
  tests/github_source.rs
Due: cargo-fmt, cargo-clippy

feat: wire verification and platform install backends
  src/builder.rs
  src/lib.rs
  src/linux.rs
  src/macos.rs
  src/windows.rs
  tests/install_linux.rs
  tests/update_flow.rs
Due: cargo-fmt, cargo-clippy

fix: preserve updater context in update installs
  src/builder.rs
  src/macos.rs
  src/release.rs
  src/windows.rs
  tests/update_flow.rs
Due: cargo-fmt, cargo-clippy

fix: complete platform install wiring
  src/builder.rs
  src/linux.rs
  src/windows.rs
  tests/install_linux.rs
Due: cargo-fmt, cargo-clippy

fix: align windows installer launch semantics
  src/builder.rs
  src/release.rs
  src/windows.rs
  tests/update_flow.rs
Due: cargo-fmt, cargo-clippy

test: fill update fixture installer args
  tests/install_linux.rs
Due: cargo-fmt, cargo-clippy

docs: document manifest-first updater workflow
  README.md
  src/lib.rs
Due: cargo-fmt, cargo-clippy

style: satisfy fmt and clippy checks
  src/config.rs
  src/error.rs
  src/linux.rs
  src/target.rs
Due: cargo-fmt, cargo-clippy

fix: honor latest version and fixture signatures
  src/builder.rs
  src/source/github.rs
  tests/github_source.rs
  tests/update_flow.rs
Due: cargo-fmt, cargo-clippy

refactor: restore dyn release source support
  Cargo.toml
  src/source/endpoint.rs
  src/source/github.rs
  src/source/mod.rs
  tests/github_source.rs
  tests/update_flow.rs
Due: cargo-fmt, cargo-clippy, cargo-sort

chore: update `.gitignore`
  .gitignore
Due: none

docs: add public API rustdoc comments
  src/builder.rs
  src/config.rs
  src/error.rs
  src/lib.rs
  src/linux.rs
  src/release.rs
  src/source/endpoint.rs
  src/source/github.rs
  src/source/mod.rs
  src/target.rs
  src/utils.rs
  src/verify.rs
Due: cargo-fmt, cargo-clippy
