Repository tangxiangong/release-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-sort

cargo-fmt:
  name: cargo fmt --all
  description: Format files with rustfmt.
  entry: bash -c 'cargo fmt -- --check'
  language: rust
  args: []

cargo-clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: bash -c 'cargo clippy --all-targets --all-features --tests --benches -- -D warnings'
  language: rust
  pass_filenames: false

cargo-sort:
  name: cargo sort
  description: Sort dependencies in Cargo.toml
  entry: bash -c 'cargo sort -w -o workspace,package'
  language: rust
  args: []

chore: delete specs
  docs/superpowers/specs/2026-04-21-updater-migration-design.md
Due: none

feat: add GitHub-backed Dioxus updater example
  Cargo.toml
  README.md
  examples/dioxus.rs
  src/builder.rs
  src/release.rs
  src/source/github.rs
Due: cargo-fmt, cargo-clippy, cargo-sort

fix: correct Dioxus example event handler
  examples/dioxus.rs
  src/source/github.rs
Due: cargo-fmt, cargo-clippy

docs: add installer naming requirements and guidelines to README
  README.md
Due: none

docs: expand public API rustdoc
  src/builder.rs
  src/config.rs
  src/linux.rs
  src/release.rs
  src/source/endpoint.rs
  src/source/github.rs
  src/source/mod.rs
  src/target.rs
  src/verify.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to 0.3.0 in Cargo.toml and update dependencies.
  Cargo.toml
Due: cargo-sort

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-sort: any of: Cargo.toml
